@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|PT+Sans:400,400i,700,700i');
body {
	font-family : 'Open Sans', sans-serif;
	overflow-x: hidden;
	color:#13140f;

}
header {
    background: #fff;
}
header.no-img {
    border-bottom: 1px solid #ccc;
}
ul, ol {
    font: 400 21px/30px 'Open Sans', sans-serif;
}



.logo-section {
    width: 100%;
    margin: 40px 0 30px;
    
}

/*Navigation*/

.top-menu .navbar .navbar-nav:after { 
content:'';
display:inline-block;
width:100%;
}
.top-menu .navbar .navbar-nav {

	text-align:justify;
    width: 100%;
	   font: 600 16px/0 'Open Sans', sans-serif;
}
 
.top-menu .navbar-default {
	background-color: transparent;
	border: transparent;
}
.top-menu .navbar-default .navbar-nav > ul{
width:100%;
}
.top-menu .navbar-default .navbar-nav > li {
 display:inline-block;
}
.top-menu .navbar-default .navbar-nav > li:last-child {
	margin-right: 0px;
	}
.top-menu .navbar-default .navbar-nav > li > a {
 
    color: #13140f;
    text-transform: uppercase;
    width: 100%;
    margin: 0px;
    padding: 6px 7px;
}
.top-menu .navbar-default .navbar-nav > .open > a.dropdown-toggle, .top-menu .navbar-default .navbar-nav > .open > a.dropdown-toggle:hover, .top-menu .navbar-default .navbar-nav > .open > a.dropdown-toggle:focus  {
border-radius: 4px;
background: none;
}
.top-menu .navbar-default .navbar-nav > .open{
    background-color: #ac2c43;
    border-radius: 4px;
}
.top-menu .navbar-default .navbar-nav > li > a:hover, .top-menu .navbar-default .navbar-nav > li > a:focus {
     color: #fff;
    background: #ac2c43;
    border-radius: 4px;

}
.top-menu .navbar-default .navbar-nav > li > a.active {
    color: #fff;
    background: #ac2c43;
    border-radius: 4px;
}

.top-menu .navbar {
    margin: 15px 0 12px;
    min-height: 20px;
    height: 100%;
    display: inline-block;

    width: 100%;
}

.top-menu .nav .open>a, .top-menu .nav .open>a:hover, .top-menu .nav .open>a:focus {
	background-color: #ac2c43;
	}
.top-menu .dropdown-menu>li>a:hover, .top-menu .dropdown-menu>li>a.active {
	color: #fff;
	background-color: #ac2c43;
}
.top-menu .navbar-default .navbar-nav .open .dropdown-menu>li>a.active:hover {
	background-color: #ac2c43;
	color: #fff;
}
.top-menu .navbar-default .navbar-nav>.open>a, .top-menu .navbar-default .navbar-nav>.open>a:hover, .top-menu .navbar-default .navbar-nav>.open>a:focus, .top-menu .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background: #ac2c43;
}
.top-menu .navbar-default .navbar-nav>.open>a, .top-menu .navbar-default .navbar-nav>.open>a:hover, .top-menu .navbar-default .navbar-nav>.open>a:focus{
background-color: #ac2c43;
color: #fff;
}
.top-menu .navbar-nav > li{
   float:none;
   text-align:center;
   padding:0;
}
.top-menu .top-menu .navbar-default .navbar-toggle, .top-menu .navbar-default .navbar-toggle:hover, .top-menu .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle{
    background-color: transparent;
	border: none;
}


.top-menu .navbar-toggle{
    padding: 9px 6px;
}
.top-menu .navbar-toggle .icon-bar{
    width: 33px;
    height: 4px;
	border-radius: 3px;
	background-color: #ac2c43;
}
.top-menu .nav .dropdown.open .caret {
    border-bottom: 4px solid #fff;
    border-top: medium none;
}
.navbar-nav .caret{
margin-left: 8px;
}
.top-menu .dropdown-menu a{
	text-transform: uppercase;
}

#bs-example-navbar-collapse-1 {
 
    padding: 0 11px;
}
#logo {

    display: inline-block;
    width: 100%;
    max-width: 235px;
}

/*Navigation ends*/


.top-phone, .top-text {
    font-size: 20px;
    color: #13140f;
    font-weight: 600;
	float:right;
}

.top-text {
    margin-left: 20px;
}

.top-numbers .fa {
	margin-right: 5px;
    color: #ac2c43;
}


/*Banner-part*/
.banner {
    background-color: #407365;
    background: linear-gradient(-90deg, #407365 20%, #6bc0a9);
    height: 530px;
}

.banner-inside {
    background: transparent;
	position:relative;
	height: 530px;
}

.banner-clip {

    height: 415px;
 
    background: url(../img/banner-overlay.png) no-repeat;
    background-size: 100% 100%;

}
	
.qoute-box {
    float: right;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
}
.qoute-box .quotes-area {
    color: #ac2c43;
    font-size: 64px;
    margin-top: 0;
    font-family: 'Lobster', cursive;
    margin-bottom: 25px;
}
.zipcode-section, .quote-it-btn {
    padding-left: 0;
    padding-right: 5px;
}
.insurances-section {
    padding-right: 0;
    padding-left: 23px;
}
#Type {-moz-appearance:none;border:none;}
#Type {
    -moz-appearance: none;
    border: none;
    padding: 8px 12px;
	-webkit-appearance: none;
}
/*Hide  Select arrow in IE */
  select::-ms-expand {display: none;}
/* Select Arrow in Font Awsome*/
.insurances-section::after {
    position: absolute;

    font-family: 'Open Sans', sans-serif;
    content: "\25BC";
    color: #13140f;
    font-size: 12px;
    pointer-events: none;
    bottom: 8px;
    right: 20px;
}



.get-a-quote label {

    color: #13140f;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
	line-height: 18px;

}

.banner-inside .form-control  {
color: #13140f;
  border: none;
}


.quote-btn{
    background-color: #ac2c43;
    width: 100%;
    padding: 5px;
    color: #ffffff;
    font: 600 23px/21px 'Open Sans', serif;
    float: left;
    margin-top: 40px;
    text-align: center;
}

.quote-btn:focus{
 background-color: #ac2c43;
 color: #ffffff;
 
}
.banner-image {
    position: absolute;
    z-index: 1000;
    left: 12%;
    bottom: 30px;
}

/* more-insurance*/

.more-insurances-section .lob-headings {
     font-family: 'Lobster', cursive;
    color: #13140f;
    font-size: 48px;
    margin-top: 0;
  
}
.service-title {
    color: #fff;
    font-size: 48px;
    line-height: 56px;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}
.more-insurance {
    background: #de6f83;
}

.more-insurances-section p {
   font-size: 15px;


}


.bubbles {
    background: url('../img/circle.png') right no-repeat #ac2c43;
    background-position-x: 99%;
	
}





.more-insurances-section {
    background: #fff;
    margin-bottom: 20px;
    border-radius: 100px;
 
    padding: 15px;
	width:100%;
    display: flex;
    align-items:center;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}
.lob-icon {
    background: #6d6184;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-right: 30px;
    font-size: 48px;
}
.bubbles {
    padding: 35px 15px 35px 96px;
	position:relative;
}
.more-services{
position:relative;
}
.teacher-with-stick {
    position: absolute;
    right: 7%;
    bottom:8%;
}
.more-insurances-section a {
    font-family: 'Lobster', cursive;
    color: #ac2c43;
    text-decoration: none;
    float: right;
    font-size: 24px;
    line-height: 24px;
}
.more-insurances-section:last-child {
    margin-bottom: 0;
}


.title-heading {
    color: #13140f;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
    line-height: 60px;
}

/* content-part */

.teacher-with-book {
    padding: 0;
}


.contents {
    padding: 80px 50px 80px;
    display: inline-block;
	width:100%;
}

.coverages {
    list-style: none;
    padding-left: 0px;
    margin: 20px 0;
}
.coverages li {
    margin-bottom: 10px;
}
.title-heading3 {
    font-size: 30px;
	margin-bottom: 10px;
    margin-top: 30px;
}


.content-section p {
    color: #13140f;
    font: 400 21px/30px 'Open Sans', sans-serif;

}

/*contact section */

.contact-section {
    background-color: #407365;
    background: linear-gradient(45deg, #407365 20%, #6bc0a9);
}

.contact-inside {
  background: transparent;
	
    position: relative;
    padding: 20px 0 0 97px;
    height: 342px;
}


.inside-left-content {
    text-align: center;
}
div.tag-line-caption-inner {
    display: inline-block;
    letter-spacing: 2px;
    background: #e7dfe4;
    padding: 75px 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
	margin-left:-100px;
}
.tag-line-caption-inner i {
    line-height: 1em;
    border-radius: 80px;
    height: 150px;
    font-size: 80px;
    width: 150px;
    padding-top: 40px;
    text-align: center;
    color: #fff;
    background: #ac2c43;
    margin: 0 auto;
}
.tag-line-caption-inner i.fa-car {
	padding-top: 35px;
}
.tag-line-caption-inner i.fa-home {
	padding-top: 35px;
}
.tag-line-caption-inner i.fa-calculator {
	padding-top: 38px;
    padding-left: 5px;
}
.contact-info .contact-us-area {
    color: #fff;
    font-size: 51px;
    margin-top: 10px;
    font-family: 'Lobster', cursive;
}

.contact-info .contact-us-area {
    color: #fff;
    font-size: 55px;
    font-family: 'Lobster', cursive;
    margin-bottom: 15px;
	margin-top:0;
}
.contact-image {
    position: absolute;
    z-index: 1000;
    top: 111px;
    transform: translate(50%, -63px);
}
.contact-info address,.contact-info a {
    line-height: 25px;
     font-size: 18px;
	 color: #fff;
}
.contact-info  ul {
    list-style: none;
    padding: 0;
	font:400 24px/24px 'Open Sans', sans-serif;
}
.contact-info {
	padding: 0;
	z-index: 10000;
}

#foot-agency-name-ed {
    font-size: 39px;
    font-weight: 600;
}
.contact-info address li, #foot-agency-address-ed, #foot-agency-email-ed, #foot-agency-txt-ed a.sms-txt {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}
/* footer-area*/
footer {
    background: #6d6184;
}



.footer-nav .navbar .navbar-nav:after { 
content:'';
display:inline-block;
width:100%;
}
.footer-nav .navbar .navbar-nav {
    text-align: justify;
    width: 100%;
    font: 600 16px/0 'Open Sans', sans-serif;
}
  _:-ms-fullscreen, :root .footer-nav .navbar .navbar-nav {
    font-size: 0.1px;
}
.footer-nav .navbar-default {
	background-color: transparent;
	border: transparent;
}
.footer-nav .navbar-default .navbar-nav > ul{
width:100%;
}
.footer-nav .navbar-default .navbar-nav > li {
 display:inline-block;
}

.footer-nav .navbar-default .navbar-nav > li > a {
 
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    margin: 0px;
    padding: 6px 8px;
}
.footer-nav .navbar-default .navbar-nav > .open > a.dropdown-toggle, .footer-nav .navbar-default .navbar-nav > .open > a.dropdown-toggle:hover, .footer-nav .navbar-default .navbar-nav > .open > a.dropdown-toggle:focus {
border: 0px;
background: none;
}
.footer-nav .navbar-default .navbar-nav > .open{
    background-color: #ac2c43;
    border-radius: 4px;
}
.footer-nav .navbar-default .navbar-nav > li > a:hover, .footer-nav .navbar-default .navbar-nav > li > a:focus {
     color: #fff;
    background: #ac2c43;
    border-radius: 4px;

}
.footer-nav .navbar-default .navbar-nav > li > a.active {
    color: #fff;
    background: #ac2c43;
    border-radius: 4px;
}

.footer-nav .navbar {
    margin: 20px 0 30px;
    min-height: 0;
    height: 100%;
    display: inline-block;
    width: 100%;
     padding: 0 11px;
}

.footer-nav .nav .open>a, .footer-nav .nav .open>a:hover, .footer-nav .nav .open>a:focus {
	background-color: #ac2c43;
	}
.footer-nav .dropdown-menu>li>a:hover, .footer-nav .dropdown-menu>li>a.active {
	color: #fff;
	background-color: #ac2c43;
}
.footer-nav .navbar-default .navbar-nav .open .dropdown-menu>li>a.active:hover {
	background-color: #ac2c43;
	color: #fff;
}
.footer-nav .navbar-default .navbar-nav>.open>a, .footer-nav .navbar-default .navbar-nav>.open>a:hover, .footer-nav .navbar-default .navbar-nav>.open>a:focus, .footer-nav .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background: #ac2c43;
}
.footer-nav .navbar-default .navbar-nav>.open>a, .footer-nav .navbar-default .navbar-nav>.open>a:hover, .footer-nav .navbar-default .navbar-nav>.open>a:focus{
background-color: #ac2c43;
color: #fff;
}
.footer-nav .navbar-nav > li{
   float:none;
   text-align:center;
   padding:0;
}
.footer-nav .footer-nav .navbar-default .navbar-toggle, .footer-nav .navbar-default .navbar-toggle:hover, .footer-nav .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle{
    background-color: transparent;
	border: none;
}

.more-insurances-section a:hover {
    opacity: 0.8;
}
.footer-nav .navbar-toggle{
    padding: 9px 6px;
}
.btn.quote-btn:hover, .btn.quote-btn:focus {
    background: #91263a;
    color: #fff;
}


.footer-nav .navbar-toggle .icon-bar{
    width: 33px;
    height: 4px;
	border-radius: 3px;
	background-color: #ac2c43;
}
.footer-nav .nav .dropdown.open .caret {
    border-bottom: 4px solid #fff;
    border-top: medium none;
}
.navbar-nav .caret{
margin-left: 8px;
}
.footer-nav .dropdown-menu a{
	text-transform: uppercase;
}





.contact-clip {
    background-image: url(../img/footer-overlay.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;
    background-size: 45% 75%;
}
.site-info {
    padding-bottom: 40px;
    padding-top: 40px;
}
.site-info ul li, .site-info ul li a {
    color: #fff;
    font: 600 18px/30px 'Open Sans', sans-serif;
}
.site-info ul {
padding: 0px;
}
.site-info ul li {
    padding: 0px 3px;
    display: inline-block;
}
.site-info ul li span{
 text-transform: none;
 }


.footer-nav .dropdown-menu,
.nav-top .dropdown-menu{
min-width: 100%;
}
 
#footer-logo {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    background: #fff;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
    border-radius: 4px;
}
iframe {
    height: 1600px;
    width: 100%;
    border: 0;
    background: transparent;
}
#teacher-with-book-img {
    margin-left: -50px;
    width: 153px;
    height: auto;
}
#footer-banner-overlay {
	float: right;
    width: 179px;
    height: auto;

}

.top-phone a, .top-text a {

    color: inherit;

}

#teacher-with-stick {

    width: 276px;
    height: auto;

}
#teacher-with-book-img {

    margin-left: -50px;

}
.gmap {
	height:400px;
	width:100%;
	border:none;
}
.tripcode-inner {
width: 100% !important;
height: 215px !important;
}
.index-figure-sm {
	display: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

a.sms-txt {
	cursor: none;
	pointer-events: none;
}

#cnt-details a.sms-txt {
	color: #13140f !important;
}