@media screen and (min-width: 992px) and (max-width: 1199px){
.more-insurances-section .lob-headings {
    font-size: 36px;
}
.top-phone, .top-text {
    font-size: 16px;
}

.top-menu .navbar .navbar-nav,.footer-nav .navbar .navbar-nav{
font: 600 13px/0 'Open Sans', sans-serif;

}

.qoute-box .quotes-area {
    font-size: 55px;
		}
.title-heading {
      font-size: 48px;
	}
.contact-info address li, #foot-agency-address-ed, #foot-agency-email-ed, #foot-agency-txt-ed a.sms-txt {
    font-size: 20px;
}
.tag-line-caption-inner i {

    height: 125px;
    font-size: 70px;
    width: 124px;
    padding-top: 29px;

}
.tag-line-caption-inner i.fa-car {
	padding-top: 28px;
}
.tag-line-caption-inner i.fa-home {
	padding-top: 28px;
}
.tag-line-caption-inner i.fa-calculator {
	padding-top: 30px;
}
.teacher-with-stick {
    right: 4%;
}

.bubbles {
    background-size: 30%;
}
.title-heading {
    font-size: 48px;
}
.title-heading3 {
    font-size: 27px;
}

.content-section p {
        font: 400 18.5px/30px 'Open Sans', sans-serif;
}
.more-insurances-section p {
    font-size: 15px;
}
.contact-info .contact-us-area {
    font-size: 46px;
	}
#foot-agency-name-ed {
    font-size: 35px;
}	
ul, ol {
    font: 400 18.5px/30px 'Open Sans', sans-serif;
}
#teacher-with-stick {
	width: 250px;
    height: auto;
}
.tripcode-inner {

  width: 145px !important;

height: 174px !important;

}
}
@media screen and (min-width: 768px) and (max-width: 991px){
.lob-icon {
    width: 75px;
    height: 75px;
    font-size: 36px;
}
.tag-line-caption-inner i {
    height: 95px;
    font-size: 49px;
    width: 95px;
    padding-top: 19px;
}
.tag-line-caption-inner i.fa-car {
	padding-top: 20px;
}
.tag-line-caption-inner i.fa-home {
	padding-top: 20px;
}
.tag-line-caption-inner i.fa-calculator {
	padding-top: 22px;
}
ul, ol {
    font: 400 16px/23px 'Open Sans', sans-serif;
}
.footer-nav .dropdown-menu a ,.top-menu .dropdown-menu a{
    font-size: 12px;
    padding: 4px 3px;
}
.navbar-nav > li > .dropdown-menu {
    padding: 0;
}
	
	
.insurances-section::after {
  
    right: 26px;
}

.top-menu .navbar-default .navbar-nav > li > a,
.footer-nav .navbar-default .navbar-nav > li > a {
    font-size: 12px;
    padding: 4px 5px;
}


#teacher-with-book-img {
    padding: 0;
}






.contact-inside {
    padding: 44px 0 44px 20px;
    height: 300px;
}

.qoute-box {
      margin-top: 53px;
	  padding-top: 0;
}

/*new*/
.title-heading {
    font-size: 36px;
    line-height: 48px;
}
  
  .top-menu .navbar-default .navbar-nav > li > a, .footer-nav .navbar-default .navbar-nav > li > a {
    font-size: 11px;
    padding: 4px 3px;
}


.top-menu .navbar .navbar-nav,.footer-nav .navbar .navbar-nav{
font: 600 13px/0 'Open Sans', sans-serif;

}
.qoute-box .quotes-area {
    font-size: 40px;
    line-height: 40px;
}
.contents {
    padding: 40px 23px 23px 15px;
}


.zipcode-section, .quote-it-btn ,.insurances-section{
    padding-left: 0;
    padding-right: 0;
}
.insurances-section {
    margin-top: 15px;
}
.banner-inside,.banner{
height: 380px;
}
.get-a-quote label {
     margin-bottom: 5px;
}
.banner-clip {
    height: 295px;
background-size: 100% 100%;
    background: url(../img/banner-overlay.png) no-repeat;
background-size: cover;
}
.banner-image {
    left: 7%;
    bottom: 55px;
 
}
.banner-image img {
    height: 287px;
    width: 287px;
}

.quote-btn {
    margin-top: 38px;

}
.bubbles {
    padding: 30px 0 30px 20px;
}
.more-services  {
    padding-right: 28px;
    padding-left: 12px;
}


.more-insurances-section .lob-headings {
    font-size: 24px;
}
.more-insurances-section p {
      text-align: inherit;
	  font-size: 14px;
}
.bubbles {`
    background-size: 33%;
}
#teacher-with-stick {
    width: 225px;
    height: 378px;
}
.teacher-with-stick {
    bottom: 10%;
    right: 3%;
}
.title-heading3 {
    font-size: 21px;
 
}

.content-section p,ul, ol {
    font: 400 15px/25px 'Open Sans', sans-serif;
}
.coverages li {
    margin-bottom: 15px;
}
.coverages li:last-child {
    margin-bottom: 0;
}



.contact-inside {
    padding: 40px 0 40px 20px;
    height: 270px;
}
#foot-agency-name-ed {
    font-size: 24px;
	}

.contact-info .contact-us-area {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 15px;
}
.contact-info address li, #foot-agency-address-ed, #foot-agency-email-ed, #foot-agency-txt-ed a.sms-txt {
     font-size: 18px;
    line-height: 18px;
}
.contact-clip {
    background-position: 100% 100%;
    background-size: 50% 80%;
 }
.contact-image {
       padding-left: 0;

}
#footer-banner-overlay {
    width: 155px;
	transform:translate(9%, 15.5px);
}

	
.site-info ul li, .site-info ul li a {
     font: 600 13px/16px 'Open Sans', sans-serif;
}
.site-info {
    padding-bottom: 37px;
    padding-top: 36px;
}
div.tag-line-caption-inner {
	margin-left:-20px;
}
#teacher-with-book-img{
	margin-left:-10px;
}
#footer-banner-overlay {
	width: 150px;
}
.contact-image {
    transform: translate(50%, -103px);
}
.tripcode-inner {

    width: 100% !important;
    height: 142px !important;

}

.top-phone, .top-text {
  font-size: 16px;
}

}


@media screen and (max-width: 767px) {
.lob-icon {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin-right: 10px;
}
.logo-section {
    margin: 0 0 0px;
}
.top-menu .navbar-toggle {
    cursor: pointer;
    float: right;
    height: 37px;
    overflow: hidden;
    width: 45px;
    z-index: 100;
}

.top-menu .navbar-toggle span {
    background: #ac2c43;
    display: block;
    height: 4px;
    left: 4px;
    opacity: 0.8;
    position: absolute;
    transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
    transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
    width: 35px;
	border-radius: 3px;
} 
.collapse.in {
    display: block !important;
    visibility: visible;
}
.top-menu .navbar-collapse {
    position: absolute;
    background: #ac2c43;
    width: 100%;
    z-index: 9999;
}
.top-menu .navbar-default .navbar-collapse, .top-menu .navbar-default .navbar-nav > li > a.active, .top-menu .navbar-default .navbar-nav > li > .dropdown-toggle:hover {
    border: 0px;
    border-radius: 0px;
}
.top-menu .navbar .navbar-nav {
    display: block;
    width: auto;
}
.top-menu .navbar-default .navbar-nav > li {
    display: block;
    padding-left: 0px;
}
.top-menu .navbar-default .navbar-nav > li > a:hover, .top-menu .navbar-default .navbar-nav > li > a.active {
    color: #fff;
    border: 0px;
}
.top-menu .navbar-default .navbar-nav > li > a, .top-menu .navbar-default .navbar-nav > li > a:hover {
    padding: 10px 15px;
    border: 0px;
	color:#fff;
}
.top-menu .navbar-nav .open .dropdown-menu > li > a, .top-menu .navbar-nav .open .dropdown-menu .dropdown-header, .footer-nav .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px;
    text-align: center;
    font: bold 14px 'Open Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
}
#bs-example-navbar-collapse-1 {
    padding: 0 15px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: #13140f!important;
    background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff !important;
}




.top-menu .navbar-toggle {
    cursor: pointer;
    float: right;
    height: 37px;
    overflow: hidden;
    width: 45px;
    z-index: 100;
}

.top-menu .navbar-toggle span {
    background: #ac2c43;
    display: block;
    height: 4px;
    left: 4px;
    opacity: 0.8;
    position: absolute;
    transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
    transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
    width: 35px;
	border-radius: 3px;
} 
.collapse.in {
    display: block !important;
    visibility: visible;
}
.top-menu .navbar-collapse {
    position: absolute;
    background: #6d6184;
    width: 100%;
    z-index: 9999;
}
.top-menu .navbar-default .navbar-collapse, .top-menu .navbar-default .navbar-nav > li > a.active, .top-menu .navbar-default .navbar-nav > li > .dropdown-toggle:hover {
    border: 0px;
    border-radius: 0px;
}
.top-menu .navbar .navbar-nav {
    display: block;
    width: auto;
    padding:15px 15px 0;
}
.top-menu .navbar-default .navbar-nav > li {
    display: block;
    padding-left: 0px;
    margin-bottom: 0px;
}
.top-menu .navbar-default .navbar-nav > li > a:hover, .top-menu .navbar-default .navbar-nav > li > a.active {
   color: #fff;
border-radius: 4px;
background: #ac2c43;
}
.top-menu .navbar-default .navbar-nav > li > a, .top-menu .navbar-default .navbar-nav > li > a:hover {
    padding: 6px 8px;
    border: 0px;
	margin-top:5px;
}

.top-menu .navbar-nav .open .dropdown-menu > li > a, .top-menu .navbar-nav .open .dropdown-menu .dropdown-header, .footer-nav .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px;
    text-align: center;
    font: bold 14px 'Open Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
}
.top-menu .navbar-default .navbar-nav > .open {
    background-color: transparent;
}
.top-menu .navbar-default .navbar-nav > .open > a.dropdown-toggle, .top-menu .navbar-default .navbar-nav > .open > a.dropdown-toggle:hover{
background-color: #ac2c43;
border-radius:4px;
}
.top-menu .navbar-default .navbar-nav > li > .dropdown-toggle:hover,
.navbar-nav .open .dropdown-menu li:hover,
.top-menu .navbar-default .navbar-nav > li > .dropdown-toggle:focus {
    border: 0px;
    border-radius: 4px;
}


.top-menu .navbar-nav .open .dropdown-menu > li > a.active,.top-menu .navbar-nav .open .dropdown-menu > li > a:hover {
       background: #ac2c43;
	 border: 0px;
    border-radius: 4px;
	padding: 3px 15px;
}
#bs-example-navbar-collapse-1 {
    padding: 0 15px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: #fff!important;
    background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff !important;
}
.top-menu .navbar-toggle span:nth-child(1) {
    top: 7px;
}
.top-menu .navbar-toggle span:nth-child(2) {
    top: 16px;
}
.top-menu .navbar-toggle span:nth-child(3) {
    opacity: 0;
    top: 16px;
}
.top-menu .navbar-toggle span:nth-child(4) {
    top: 25px;
    transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
}
.top-menu .navbar-toggle.nav-bg span:nth-child(1), .navbar-toggle.nav-bg span:nth-child(4) {
    opacity: 0;
    top: 24px;
}
.top-menu .navbar-toggle.nav-bg span:nth-child(2) {
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    transition-delay: 0.25s;
	-webkit-transition-delay: 0.25s;
}
.top-menu .navbar-toggle.nav-bg span:nth-child(3) {
    opacity: 1;
    transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
    transition-delay: 0.25s;
	-webkit-transition-delay: 0.25s;
}
.top-menu .navbar-toggle {
  
    cursor: pointer;
    float: right;
    height: 37px;
    overflow: hidden;
    width: 45px;
    z-index: 100;
}

.banner-inside, .banner {
    height: 660px;
}
.banner-image {
    bottom: 3%;
    transform: translate(-50%, -50%);
    top: 66%;
    left: 50%;
    width: 259px;
    object-fit: cover;
}

.footer-section {
    padding: 15px 15px;
}
.more-insurances-section .lob-headings {

    font-size: 24px;
	}

.more-insurances-section p {

    text-align: left;
}
.footer-nav .navbar-default .navbar-nav > li {
    display: block;
}
#content-area {
    padding-left: 15px;
    padding-right: 15px;
}
.coverages {
	padding-left: 0px;
}
.coverages li {
	margin-bottom: 15px;
}
.footer-nav .navbar {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0;
	margin-bottom: 50px;
}
.footer-nav .navbar .navbar-nav {
    width: auto;
    font-size: inherit;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-default .navbar-nav > .open > a.dropdown-toggle, .navbar-default .navbar-nav > .open > a.dropdown-toggle:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #ac2c43;
}

.footer-nav .navbar-default .navbar-nav > li {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
}
.footer-nav .navbar-default .navbar-nav > li:first-child {
      padding-top: 0;
}

.footer-nav .navbar-default .navbar-nav > .open > a.dropdown-toggle, .footer-nav  .navbar-default .navbar-nav > .open > a.dropdown-toggle:hover{
    background-color: #ac2c43;
    border-radius: 4px;

}
.top-menu .navbar-nav .open .dropdown-menu > li > a:hover{

}
.footer-nav .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .footer-nav .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .footer-nav .dropdown-menu>li>a:hover, .footer-nav .dropdown-menu>li>a:focus, .footer-nav .dropdown-menu>li>a.active{
background: #ac2c43!important;
   border-radius: 4px;
}

.footer-nav .navbar-default .navbar-nav .dropdown-toggle {
    padding-left: 3px;
    padding-right: 3px;
}

.footer-nav .navbar-nav .open .dropdown-menu > li,
.navbar-nav .open .dropdown-menu li {
    padding-bottom: 0px;
}


.top-menu .navbar-nav .open .dropdown-menu > li > a, .top-menu .navbar-nav .open .dropdown-menu .dropdown-header, .footer-nav .navbar-nav .open .dropdown-menu > li > a {
    padding: 3px;
    text-align: center;
    font: 600 18px 'Open Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.footer-nav .navbar-default .navbar-nav > li > a{
padding: 6px 8px;
    font-size: 18px;
}


.footer-nav .navbar-default .navbar-nav > li > a.active, .footer-nav .navbar-default .navbar-nav > li > a:hover, .footer-nav .navbar-default .navbar-nav > li > .dropdown-toggle:hover, .footer-nav .navbar-default .footer-nav  .navbar-nav > .open > a:focus, .footer-nav .navbar-default .navbar-nav > li > a:focus {
    border-bottom: 0px;
    padding: 6px 8px;
    background-color: #ac2c43;
    color: #fff;
    border: 0px;
    border-radius: 4px;
}
.footer-nav .navbar-default .navbar-nav > .open {
    background-color: transparent;
}

.qoute-box {
    float: none;
	padding-top: 38px;
	}
.qoute-box .quotes-area {
    text-align: center;
}
.zipcode-section, 
.insurances-section,
.quote-it-btn
{
    padding-left: 0;
    padding-right: 0;
}
.get-a-quote {
    width: 70%;
    margin: 0 auto;
}
.quote-btn {
      width: 100%;
	  margin-top: 35px;
	}


	.get-a-quote label {

    font-size: 13px;

}
#ZipCode {
    margin-bottom: 10px;
}
.qoute-box .quotes-area {

    font-size: 32px;
    margin-bottom: 30px;
}
.bubbles
{
    padding: 15px;
    background-image: none;
}

 .contents {
    padding: 30px 0;
    background-image: none;
}
.title-heading {
    font-size: 36px;
    line-height: 48px;
}
.content-section p {
    color: #13140f;
    font: 400 24px/38px 'Open Sans', sans-serif;
    margin-bottom: 40px;
    margin-top: 25px;
}
.content-section p,ul, ol {
  
    font: 400 16px/23px 'Open Sans', sans-serif;

}
.title-heading3 {
    font-size: 18px;
   
}
.content-section p {
    margin-bottom: 25px;
}
.contact-info .contact-us-area {
     font-size: 30px;
	 margin-bottom: 10px;
}
#foot-agency-name-ed {
    font-size: 18px;
    font-weight: bold;
}
.contact-info address li, #foot-agency-address-ed, #foot-agency-email-ed, #foot-agency-txt-ed a.sms-txt {
     font-size: 16px;
	 margin-bottom:0;
  }

	

.contact-info {
    z-index: 2;
}

.contact-image {
	transform: translate(0px, -90px);
	right: 15%;
	
}
.contact-inside {
    height: 250px;
	 padding:25px 0 0px 15px;
}
.banner-clip {

    height: 563px;
    width: 100%;
    background: url(../img/banner-overlay.png) no-repeat;
      background-size: cover;
    background-position: 35%;

}



div.tag-line-caption-inner {
    background: transparent;
    padding: 15px;
	margin-left:0;
}
#teacher-with-book-img{
	margin-left:0;
}
#logo {
    display: block;
    margin-bottom: 10px;
}
.logo-and-phnum {
    display: table;
    width: 100%;
}
.logo a,#footer-logo {
    width: 198px;
    height: auto;
}
.site-info {
    display:block;
	clear:both;
}
.footer-agency-details {
    padding: 0;
    text-align:center;
}
.site-info ul li, .site-info ul li a {
     font: 600 15px/20px 'Open Sans', sans-serif;
}	  
.top-numbers {
    text-align: center;
	margin-bottom: 30px;
    background: #6d6184;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.top-text {
    margin-left: 0px;
}
#top-phone, #top-text {
    text-align: center;
    float: none;
    margin-bottom: 20px;
}
.top-menu .navbar {
    margin: 0 auto;
	min-height: 0px;
	}
	.navbar-toggle {
      margin-top: -80px!important;
	}
	
	.logo {
    float: none;
    text-align: center;
    clear:both;
}
.contact-clip {
    background-image: url(../img/footer-overlay.png);
    background-repeat: no-repeat;
    background-position: 180% 100%;
    height: 100%;
    background-size: 70% 80%;
}
.compare-quote.banner,
.compare-quote .banner-inside {
    height: 371px;
}
.compare-quote .banner-clip {
    height: 287px;
}
.compare-quote .banner-image {
top: 42%;
  }
.site-info ul li {
    display: block;
}
.banner-image img {

    width: 259px;
    height: 295px;

}
#footer-banner-overlay {
    width: 140px;
    height: auto;
}


.top-phone, .top-text {
  font-size: 17px;
  color: #fff;
}


}


@media screen and (max-width: 480px) {
.top-numbers {
    justify-content:center;
}
.contact-clip {

}

.contact-image {
	z-index: auto;	
	right: 0px;
}
.contact-clip {
    background-image: url(../img/footer-overlay.png);
    background-repeat: no-repeat;
    background-size: 530px;
    z-index: 9999;
    background-position: 185px bottom;
}

}

@media screen and (max-width: 1199px) {
	
a.sms-txt {
	cursor: pointer;
	pointer-events: auto;
	text-decoration: none;
}

}